html, body {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button {
    font-size: larger;
    font-weight: bold;
    background-color: darksalmon;
    border-radius: 5px;
    min-width: 30px;
    min-height: 25px;
    width: 10vw;
    height: 5vh;
    margin: 2px;
}
button:nth-child(2n) {
    background-color:coral;
}
