.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  margin-right: 1rem;
  cursor: pointer;
}

.light-link {
  text-decoration: none;
  color: rebeccapurple;
}
.dark-link {
  text-decoration: none;
  color: skyblue;
}

.themeToggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.themeToggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sunIcon {
  color: skyblue;
}

.moonIcon {
  color: rebeccapurple;
}
